/* Cores:
1 - Fundo da página: #0f596f e #68b2c8
2 - Fundo do header: #934b07 e #854407
3 - Fundo do menu:  #b42d04 e #962503 
4 - Borda superior do menu: #F06940
5 - Borda inferior do menu:#CF8743
6 - Cor de links:  #C33C13
*/

body {
    background: linear-gradient(#0f596f, #68b2c8);
    font-size: 13pt;
    color: #cee1e6;
    font-family: Tahoma;
}

/* "*" = seletor universal*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #cee1e6;
}

#wrapper {
    width: 980px;
    margin: 80px auto;
}

p {
    text-align: justify;
}

#content {
    margin-top: 30px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    padding-left: 40px;
}

#sidebar {
    width: 245px;
    display: inline-block;
}

#header {
    color: #fff;
    background: -webkit-linear-gradient(left, #930707, #c07835);
    height: 190px;
    border-radius: 10px 10px 0 0;
}

#logo {
    padding-left: 45px;
    line-height: 168px;
}

#logo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36pt;
}

#menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 62px;
    background: -webkit-linear-gradient(left, #b05135, #962503);
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #F06940;
    border-bottom: 1px solid #CF8743;
    padding: 0 45px 0 45px;
}

#menu a {
    padding: 0 20px 0 20px;
    border: solid none;
}

#page {
    background-color: #fff;
    padding: 45px 45px 0 45px;
    color: rgb(100, 99, 99);
    border: 0 0 10px 10px;
}

footer {
    text-align: center;
    margin-bottom: 85px;
}

#sidebar a, .post2 a {
    border-top: 1px solid rgb(110, 109, 109);
    padding: 15px 0 15px 0;
    display: block;
    color: rgba(255, 0, 0, 0.856);
}